<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-1">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto components">
          <li class="nav-item" *ngIf="roleUser ===1; else other_content">
            <img class="imgHeader" src="./../../../../assets//images//yappimg.png"/>
          </li>
          <ng-template #other_content>
            <li class="nav-item">
              <img [src]="clinic.photo" class="imgHeader">
            </li>
            
          </ng-template>
          <li class="nav-item ml-5">
            <a class="nav-link orange" [routerLink]="[ 'home' ]" >
                Inicio
            </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ 'home/patients' ]" routerLinkActive="active">
                  Patients 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange" [routerLink]="[ 'home/mts' ]" routerLinkActive="active">
                Medical Sheets 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange" [routerLink]="[ 'home/treatments' ]" routerLinkActive="active">
                  Treatments
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link orange"  [routerLink]="[ 'home/reports' ]" routerLinkActive="active">
                Reports
              </a>
            </li>


            <!-- <li class="nav-item dropdown" *ngIf="roleUser===1">
              <a class="nav-link orange"  [routerLink]="[ 'home/clinics' ]" routerLinkActive="active">
                Management Clinics
              </a>
            </li>

            <li class="nav-item dropdown" *ngIf="roleUser===1">
              <a class="nav-link orange"  [routerLink]="[ 'home/users' ]" routerLinkActive="active">
                Management Users
              </a>
            </li> -->

            <li class="nav-item dropdown" *ngIf="roleUser===1">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Management
              </a>

              <div class="dropdown-menu" >
                <a class="dropdown-item" [routerLink]="['home', 'clinics']">Clinics</a>
                <a class="dropdown-item" [routerLink]="['home', 'specialists']">Users</a>
                 
              </div>
            </li>


            <li class="nav-item dropdown" *ngIf="roleUser===2 || roleUser===3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Clinic
              </a>

              <div class="dropdown-menu" >
                <a class="dropdown-item" [routerLink]="['home', 'clinic']">Clinic</a>
                <a class="dropdown-item" [routerLink]="['home', 'specialists']" *ngIf="roleUser===2">Specialists</a>
                 
              </div>
            </li>

        </ul>


        <div class="collapse navbar-collapse w-20 order-2 dual-collapse2" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle orange" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user mr-1"></i>{{userLogged.username}}
                </a>
                <div class="dropdown-menu ">
                  <a class="dropdown-item" routerLink="home/profile"><i class="fas fa-sign-out-alt mr-1"></i>Profile</a>
                  <a class="dropdown-item" routerLink="/login" (click)='logout()'><i class="fas fa-sign-out-alt mr-1"></i>Logout</a>
                </div>
              </li>
            </ul>
          </div>
    </div>
</nav>

<div class="text-center" *ngIf="roleUser ===2 || roleUser ===3">

  <h2>Clinic: {{clinic.name}}</h2>
  <!-- <img [src]="clinic.photo" class="imgHeader"> -->

</div>

<div class="text-center" *ngIf="roleUser ===1">

  <h2>Back Office YAPP</h2>
  <!-- <img class="imgHeader" src="./../../../../assets//images//yappimg.png"/> -->
</div>


