<div class="container">
    <div class="row">
        <div class="custom-control p-2">
            <!-- <input class="form-control" type="text" placeholder="buscar"> -->
            <button type="button" class="btn btn-info"> Add Patient </button>

        </div>

    </div>

    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Telephone</th>
                <th scope="col">email</th>
                <th scope="col">Age</th>
                <th scope="col">Action</th>
                <th scope="col" *ngIf='roleUser ===1 || roleUser===2'>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let p of patients let i = index' scope="row" class="text-center">
                <td>{{i+1}}</td>
                <td>{{p.name + ' ' + p.surname}}</td>
                <td>{{p.phoneNumber}}</td>
                <td>{{p.email}}</td>
                <td>{{p.age}}</td>
                <td><button class="btn btn-primary mb-2" (click)='editPatient(p, i)'>Edit</button></td>
                <td *ngIf='roleUser ===1 || roleUser===2'><button class="btn btn-danger" (click)='deletePatient(p.id)'>Delete</button></td>
            </tr>
        </tbody>
    </table>


</div>


<ng-template #modalDelete let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Patient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        You're going to delete a patient, are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Si</button>
      </div>
    </div> 
</ng-template>

<ng-template #modalEdit let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Patient</h5>
          <button type="button" 
            class="close" 
            data-dismiss="modal" 
            aria-label="Close" 
            (click)="modal.close('Cerrado desde la ventana')">
            <span aria-hidden="true">&times;</span>
          </button>
          
      </div>
      <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      


      
      <div class="form-group">
        <form [formGroup]="uploadForm" (ngSubmit)="submitForm()">
          <!-- Select File -->
          <input type="file" accept="image/*" formControlName="file" (change)="onFileChange($event)"/><!-- (change)="showPreview($event)" -->
        
                  
          <button type="submit">Save Image</button>
        </form>

        <!-- Image Preview -->
        <div class="imagePreview" >
          <!-- <img [src]= 'patientToUpdate.urlPhoto' class="imgUserTable cursorMouseHover" [alt]="patientToUpdate.name"/> -->
          <img [src]="imageSrc" *ngIf="imageSrc" class="imgUserTable cursorMouseHover">
        </div>
<!--         <label for="file">Choose File</label>
        <input type="file"
        class="form-control rounded-sm border-0 shadow-sm px-4" 
               id="file"
               (change)="updatePhoto($event.target.files)"> -->
    </div>


    </div>
      <div class="modal-body"
           style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <label for="name" class="col-2">Name:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            id="name"
            type="text" [(ngModel)]= 'patientToUpdate.name' />
      </div>
      <div class="modal-body"
           style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <label for="name" class="col-2">Surname:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            type="text" [(ngModel)]= 'patientToUpdate.surname' />
      </div>
      <div class="modal-body"
           style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <label for="name" class="col-2">Reason:</label>
        <textarea class="form-control rounded-sm border-0 shadow-sm px-4" 
                  type="text" [(ngModel)]= 'patientToUpdate.reason'>
        </textarea>  

      </div>
      <div class="modal-body"
      style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <label for="name" class="col-2">Phone Number:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            type="text" [(ngModel)]= 'patientToUpdate.phoneNumber' />
      </div>
      <div class="modal-body"
      style="display:flex; flex-direction: row; justify-content: center; align-items: center">
          <label for="name" class="col-2">Email:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            type="text" [(ngModel)]= 'patientToUpdate.email' />
      </div>
      <!-- <div class="modal-body"
      style="display:flex; flex-direction: row; justify-content: center; align-items: center">
          <label for="name" class="col-2">Photo:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            type="text" [(ngModel)]= 'patientToUpdate.urlPhoto' />
      </div> -->
      <div class="modal-body"
      style="display:flex; flex-direction: row; justify-content: center; align-items: center">
          <label for="name" class="col-2">Age:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            type="text" [(ngModel)]= 'patientToUpdate.age' />
      </div>
      <div class="modal-body"
      style="display:flex; flex-direction: row; justify-content: center; align-items: center">
          <label for="name" class="col-2">Home Address:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            type="text" [(ngModel)]= 'patientToUpdate.homeAddress' />
      </div>
      <div class="modal-body"
      style="display:flex; flex-direction: row; justify-content: center; align-items: center">
          <label for="name" class="col-2">School Name:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4"
            type="text" [(ngModel)]= 'patientToUpdate.schoolName' />
      </div>
      <div class="modal-body"
      style="display:flex; flex-direction: row; justify-content: center; align-items: center">
          <label for="name" class="col-2">Course:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            type="text" [(ngModel)]= 'patientToUpdate.course' />
      </div>
      <div class="modal-body"
      style="display:flex; flex-direction: row; justify-content: center; align-items: center">
          <label for="name" class="col-2">Payment Type:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            type="text" [(ngModel)]= 'patientToUpdate.paymentType' />
      </div>
      <div class="modal-body"
      style="display:flex; flex-direction: row; justify-content: center; align-items: center">
          <label for="name" class="col-2">Active:</label>
        <input 
            class="form-control rounded-sm border-0 shadow-sm px-4" 
            type="text" [(ngModel)]= 'patientToUpdate.active' />
      </div>


      <div class="modal-footer">
        <button type="button" 
                class="btn btn-secondary" 
                data-dismiss="modal" 
                (click)="modal.close('0')">Save
        </button>
        <button type="button" 
                class="btn btn-primary" 
                (click)="modal.close('1')">Cancel
        </button>
      </div>
    </div>
</ng-template>
