<div class="container">
  <div class="row">
    <div class="custom-control p-2">
      <!-- <input class="form-control" type="text" placeholder="buscar"> -->
      <button type="button" class="btn btn-info" (click)='createPatient()'> Add Patient </button>

    </div>

  </div>

  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Photo</th>
        <th scope="col">Fullname</th>
        <th scope="col">Telephone</th>
        <th scope="col">email</th>
        <th scope="col">Age</th>
        <th scope="col">Action</th>
        <th scope="col" *ngIf='roleUser ===1 || roleUser===2'>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let p of patients let i = index' scope="row" class="text-center">
        <td>{{i+1}}</td>
        <td><img [src]="p.urlPhoto" class="imgUserTable cursorMouseHover" [alt]="p.name"></td>
        <td>{{p.name + ' ' + p.surname}}</td>
        <td>{{p.phoneNumber}}</td>
        <td>{{p.email}}</td>
        <td>{{p.age}}</td>
        <td><button class="btn btn-primary mb-2" (click)='editPatient(p, i)'>Edit</button></td>
        <td *ngIf='roleUser ===1 || roleUser===2'><button class="btn btn-danger"
            (click)='deletePatient(p.id)'>Delete</button></td>
      </tr>
    </tbody>
  </table>


</div>


<ng-template #modalDelete let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Delete Patient</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.close('Cerrado desde la ventana')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      You're going to delete a patient, are you sure?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Si</button>
    </div>
  </div>
</ng-template>

<ng-template #modalEdit let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Update Patient</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.close('Cerrado desde la ventana')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">

      <div class="form-group">
        <form [formGroup]="uploadForm" (ngSubmit)="submitForm()">
          <input type="file" (change)="onFileChange($event)">
          <button type="submit">Save Image</button>
        </form>
      </div>
    </div>


    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Name:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" id="name" type="text"
        [(ngModel)]='patientToUpdate.name' />
    </div>
    
    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Surname:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" type="text"
        [(ngModel)]='patientToUpdate.surname' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Reason:</label>
      <textarea class="form-control rounded-sm border-0 shadow-sm px-4" type="text"
        [(ngModel)]='patientToUpdate.reason'>
        </textarea>
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Phone Number:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" type="text"
        [(ngModel)]='patientToUpdate.phoneNumber' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Email:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" type="text" [(ngModel)]='patientToUpdate.email' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Age:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" type="text" [(ngModel)]='patientToUpdate.age' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Home Address:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" type="text"
        [(ngModel)]='patientToUpdate.homeAddress' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">School Name:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" type="text"
        [(ngModel)]='patientToUpdate.schoolName' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Course:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" type="text" [(ngModel)]='patientToUpdate.course' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Payment Type:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" type="text"
        [(ngModel)]='patientToUpdate.paymentType' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="name" class="col-2">Active:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" type="text" [(ngModel)]='patientToUpdate.active' />
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('0')">Save
      </button>
      <button type="button" class="btn btn-primary" (click)="modal.close('1')">Cancel
      </button>
    </div>

  </div>
</ng-template>


<ng-template #modalCreate let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Create Patient</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.close('Cerrado desde la ventana')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="nameCreate" class="col-2">Name:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="nameCreate" 
             type="text" 
             name="name"
             [(ngModel)]='patientToCreate.name' />
    </div>
    
    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="surnameCreate" class="col-2">Surname:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="surnameCreate" 
             type="text" 
             name="surnameCreate"
             [(ngModel)]='patientToCreate.surname' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="reasonCreate" class="col-2">Reason:</label>
      <textarea class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="reasonCreate" 
             type="text" 
             name="reasonCreate"
             [(ngModel)]='patientToCreate.reason'>
        </textarea>
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="phoneCreate" class="col-2">Phone Number:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="phoneCreate" 
             type="text" 
             name="phoneCreate"
             [(ngModel)]='patientToCreate.phoneNumber' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="emailCreate" class="col-2">Email:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="emailCreate" 
             type="text" 
             name="emailCreate"
             [(ngModel)]='patientToCreate.email' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="dateOfBirthCreate" class="col-2">Date of Birth:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="dateOfBirthCreate" 
             type="text" 
             name="dateOfBirthCreate"
            [(ngModel)]='patientToCreate.dateOfBirth' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="addressCreate" class="col-2">Home Address:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="addressCreate" 
             type="text" 
             name="addressCreate"
             [(ngModel)]='patientToCreate.homeAddress' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="schoolCreate" class="col-2">School Name:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4"
             id="schoolCreate" 
             type="text" 
             name="schoolCreate"
             [(ngModel)]='patientToCreate.schoolName' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="nameCourse" class="col-2">Course:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4"
             id="nameCourse" 
             type="text" 
             name="nameCourse"
             [(ngModel)]='patientToCreate.course' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="paymentTypeCreate" class="col-2">Payment Type:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="paymentTypeCreate" 
             type="text" 
             name="paymentTypeCreate"
             [(ngModel)]='patientToCreate.paymentType' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="activeCreate" class="col-2">Active:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="nameCreate" 
             type="text" 
             name="name"
             [(ngModel)]='patientToCreate.active' />
    </div>

    <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
      <label for="clinicIdCreate" class="col-2">Clinic id:</label>
      <input class="form-control rounded-sm border-0 shadow-sm px-4" 
             id="clinicIdCreate" 
             type="text" 
             name="clinicIdCreate" 
             [(ngModel)]='patientToCreate.clinicId'/>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('0')">Save</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('1')">Cancel</button>
    </div>

  </div>
</ng-template>