<div class="container">
  <h4 class="text-center">Treatments</h4>


  <div class="row my-5">
      <button type="button" class="btn btn-primary" (click)='openModalCreate()'>Add Treatment &#43;</button>
  </div>
  <h4>Filters</h4>
  <div class="row my-2 ">
    
    <div class="col-2 text-center">
      Name Patient <input class="form-control" type="text" placeholder="find by name" #name
        (keyup)="findByParams(name.value, minage.value, maxage.value, nameSpecialist.value, mindate.value, maxdate.value)">
    </div>

    <div class="col-2 text-center">
      Min age <input class="form-control" type="number" placeholder="find min age" #minage
        (change)="findByParams(name.value, minage.value, maxage.value, nameSpecialist.value, mindate.value, maxdate.value)">
    </div>

    <div class="col-2 text-center">
      Max age <input class="form-control" type="number" placeholder="find max age" #maxage
        (change)="findByParams(name.value, minage.value, maxage.value, nameSpecialist.value, mindate.value, maxdate.value)">
    </div>

    <div class="col-2 text-center">
      Name Specialist <input class="form-control" type="text" placeholder="find by name" #nameSpecialist
        (keyup)="findByParams(name.value, minage.value, maxage.value, nameSpecialist.value, mindate.value, maxdate.value)">
    </div>

    <div class="col-2 text-center">
      Min date <input class="form-control" type="date" placeholder="find by name" #mindate
        (change)="findByParams(name.value, minage.value, maxage.value, nameSpecialist.value, mindate.value, maxdate.value)">
    </div>
    <div class="col-2 text-center">
      Max date <input class="form-control" type="date" placeholder="find by name" #maxdate
        (change)="findByParams(name.value, minage.value, maxage.value, nameSpecialist.value, mindate.value, maxdate.value)">
    </div>
  </div>

  <h4>Ordering</h4>
  <div class="row my-2">
    <div class="col-2 text-center">
      <button type="button" class="btn btn-primary my-3" style="font-size: 11px;" (click)='orderByPatientName("desc")'>Order by Patient name desc</button>
    </div>
    <div class="col-2 text-center">
      <button type="button" class="btn btn-primary my-3" style="font-size: 11px;" (click)='orderByPatientName("asc")'>Order by Patient name asc</button>
    </div>
    <div class="col-2 text-center">
      <button type="button" class="btn btn-primary my-3" style="font-size: 11px;" (click)='orderByPatientAge("desc")'>Order by Patient age desc</button>
    </div>
    <div class="col-2 text-center">
      <button type="button" class="btn btn-primary my-3" style="font-size: 11px;" (click)='orderByPatientAge("asc")'>Order by Patient age asc</button>
    </div>
    <div class="col-2 text-center">
      <button type="button" class="btn btn-primary my-3" style="font-size: 11px;" (click)='orderByDate("desc")'>Order by Date desc</button>
    </div>
    <div class="col-2 text-center">
      <button type="button" class="btn btn-primary my-3" style="font-size: 11px;" (click)='orderByDate("asc")'>Order by Date asc</button>
    </div>
    
  </div>

  

  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Patient name</th>
        <th scope="col">Start Date</th>
        <th scope="col">Sessions Finshed</th>
        <th scope="col">Patient Age</th>
        <th scope="col">Specialist name</th>
        <th scope="col">Specialist type</th>
        <th scope="col">Detail</th>
        <th scope="col" *ngIf='roleUser ===1 || roleUser===2'>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let t of treatments let idx = index' scope="row" class="text-center">
        <td>{{idx+1}}</td>
        <td>{{t.patientFullName}}</td>
        <td>{{t.startDate}}</td>
        <td>{{t.sessionsFinished}}</td>
        <td>{{t.patientAge}}</td>
        <td>{{t.specialistFullName}}</td>
        <td>{{t.specialistType}}</td>
        <td><button class="btn btn-primary mb-2" (click)='openModalEdit(t, idx)'>View</button></td>
        <td *ngIf='roleUser ===1 || roleUser===2'><button class="btn btn-danger"
            (click)='openModalDelete(t, idx)'>Delete</button></td>
      </tr>
    </tbody>
    <div class="text-center">
      <p *ngIf="!isTreatments" style="color: blue;">Treatments not found</p>
    </div>
  </table>

</div>

<ng-template #modalDelete let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Delete Treatment</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.close('Cerrado desde la ventana')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      You're going to delete a treatment, are you sure?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('0')">No</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('1')">Yes</button>
    </div>
  </div>
</ng-template>

<ng-template #updateCreate let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{textModal}} Treatment</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.close('Cerrado desde la ventana')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

      <form [formGroup]="createUpdateForm" (ngSubmit)="createUpdateTreatment()">
        
          <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <label for="sessionsFinished" class="col-2">Sessions Finished:</label>
            <input class="form-control rounded-sm border-1 shadow-sm px-4" 
                   id="sessionsFinished" 
                   name="sessionsFinished"
                   type="number"
                   formControlName="sessionsFinished" />
          </div>

          <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <label for="startDate" class="col-2">Start Date:</label>
            <input class="form-control rounded-sm border-1 shadow-sm px-4" 
                   id="startDate" 
                   name="startDate"
                   type="date"
                   formControlName="startDate" />
          </div>


          <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <label for="active" class="col-2">Patient:</label>
            <select class="form-control" formControlName="patientId">
              <option *ngFor="let p of patients" [value]="p.id">
                  {{p.name + ' ' + p.surname}}
              </option>
            </select>
          </div>

          <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <label for="userId" class="col-2">Specialist:</label>
            <select class="form-control" formControlName="userId" id="userId" name="userId" [disabled]="this.roleUser===3">
              <option *ngFor="let s of specialists" [value]="s.id" >
                  {{s.name + ' ' + s.surnames}}
              </option>
            </select>
          </div>

          <div class="modal-body" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <label for="reasonTreatment" class="col-2">Reason Treatment:</label>
            <textarea class="form-control rounded-sm border-1 shadow-sm px-4" rows="6"
                      type="text" 
                      id="reasonTreatment" 
                      name="reasonTreatment"
                      formControlName="reason">
            </textarea>
          </div>


      </form>

    

      <!-- TODO: ngIf not work -->
    <div class="modal-footer" *ngIf="showButtonsForm">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modal.close('1')">Save
      </button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('0')">Cancel
      </button>
    </div>

  </div>

<br>

</ng-template>