<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 bg-light">
            <div class="login d-flex align-items-center py-5">

                <div class="container text-center">
                    <img src="../assets/images/logo_polos.png" class="img-fluid mb-5" alt="Logo Yaap">

                    <div class="row">

                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <!-- <h3 class="display-4">Login</h3> -->
                            <!-- <p class="text-muted mb-4">Sign in</p> -->

                            <form id="loginForm" autocomplete="off">
                                <!-- [formGroup]="loginForm" -->
                                <div class="form-group mb-3">
                                    <input formControlName="username" type="text" placeholder="username" autofocus=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input type="password" placeholder="Password" formControlName="password"
                                        class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>

                                <button type="submit"
                                    class="btn btn-warning btn-block text-uppercase mb-2 rounded-pill shadow-sm">
                                    Sign in
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>