<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <span>Welcome to your profile <strong>{{userLogged.username}}</strong> !</span>
        </div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive"
                    src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img [src]="userLogged.photoUrl" *ngIf="!previewImageStr" class="avatar img-circle img-thumbnail"
                alt="avatar">

            <img [src]="previewImageStr" *ngIf="previewImageStr" class="avatar img-circle img-thumbnail"
                [alt]="userLogged.name">


            <div class="text-center">
                <form [formGroup]="fileForm" class="modal-body">
                    <label for="uploadPhoto" class="col-2"></label>
                    <input class="form-control rounded-sm border-0 shadow-sm px-4" type="file" id="uploadPhoto"
                        name="uploadPhoto" (change)="onFileChange($event)"><br>
                    <button class="btn btn-primary mr-3" (click)="uploadPhoto()" *ngIf="previewImageStr">Save
                        Image</button>
                    <button class="btn btn-warning" (click)="cancelUploadPhoto()" *ngIf="previewImageStr">Cancel
                        Image</button>
                </form>
            </div>
            <div class="text-center">
                <div class="col-xs-12 text-center">
                    
                    <br>
                    <button class="btn btn-block btn-success py-2"
                        style="font-size : 20px;" (click)="openModalPassword()">Change Password</button>

                </div>
            </div>

            <hr><br>


            <ul class="list-group">
                <li class="list-group-item text-muted">Statistics <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Specialists</strong></span> 13
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Patients</strong></span> 31</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Mts</strong></span> 95</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Reports</strong></span> 68</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Treatments</strong></span> 78
                </li>
            </ul>


        </div>
        <!--/col-3-->
        <div class="col-sm-9">

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" [formGroup]="profileForm" (ngSubmit)="saveProfile()">

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Email</h4>
                                </label>
                                <input type="text" class="form-control" name="email" id="email"
                                    [value]="userLogged.email" [disabled]="disablefInput">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="name">
                                    <h4>Name *</h4>
                                </label>
                                <input type="text" class="form-control" name="name" id="name" formControlName="name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="surname">
                                    <h4>Surnames *</h4>
                                </label>
                                <input type="text" class="form-control" name="surname" id="surname"
                                    formControlName="surnames">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="phone">
                                    <h4>Phone *</h4>
                                </label>
                                <input type="text" class="form-control" name="phone" id="phone" formControlName="phone">
                            </div>
                        </div>

                        <div class="form-group" *ngIf="roleUser != 1">
                            <div class="col-xs-6">
                                <label for="specialistType">
                                    <h4>Specialist Type</h4>
                                </label>
                                <input type="text" class="form-control" name="specialistType" id="specialistType"
                                    formControlName="specialistType">
                            </div>
                        </div>

                        <div class="form-group" *ngIf="roleUser != 1">
                            <div class="col-xs-6">
                                <label for="collegiateNumber">
                                    <h4>Colegiate Number</h4>
                                </label>
                                <input type="text" class="form-control" name="collegiateNumber" id="collegiateNumber"
                                    formControlName="collegiateNumber">
                            </div>
                        </div>

                        <div class="form-group" *ngIf="roleUser == 2">
                            <div class="col-xs-6">
                                <label for="isAdminRole">
                                    <h4>Role admin</h4>
                                </label>
                                <input type="checkbox" class="form-control" id="isAdminRole"
                                    formControlName="isAdminRole">
                            </div>
                        </div>

                        <div class="form-group" *ngIf="roleUser != 1">
                            <div class="col-xs-6">
                                <label for="active">
                                    <h4>Uncheck and save to delete your account</h4>
                                </label>
                                <input type="checkbox" class="form-control" id="active" formControlName="active">
                            </div>
                        </div>

                    
                        <div class="form-group">
                            <div class="col-xs-12 text-center">
                                <br>
                                <button class="btn btn-block btn-success py-2" *ngIf="changeProfileForm"
                                    style="font-size : 20px;">Save</button>

                            </div>
                        </div>

                    </form>
                    <button class="btn btn-block btn-warning py-2" style="font-size : 20px;" (click)="setFormValues()"
                        *ngIf="changeProfileForm">Discart changes</button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalDeactivate let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Acount</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            If you deactivate your account, you will not be able to log in again, are you sure?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('0')">No</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('1')">Si</button>
        </div>
    </div>
</ng-template>


<ng-template #updatePassword let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Change Your Password</h5>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-header">The password must contain at least 6 characters for security reasons</div>

        <form [formGroup]="updatePasswordForm" class="modal-body">
            <label for="oldPassword" class="col-6"><strong>Your password</strong></label>
            <input class="form-control rounded-sm border-0 shadow-sm px-4" 
                   type="text" 
                   id="oldPassword" 
                   name="oldPassword"
                   formControlName="oldPassword"><br>

            <label for="newPassword" class="col-6"><strong>Your new password</strong></label>
            <input class="form-control rounded-sm border-0 shadow-sm px-4" 
                   type="text" 
                   id="newPassword" 
                   name="newPassword" 
                   formControlName="newPassword"><br>

            <label for="newPassword2" class="col-6"><strong>Repeat new password</strong></label>
            <input class="form-control rounded-sm border-0 shadow-sm px-4" 
                   type="text" 
                   id="newPassword2" 
                   name="newPassword2" 
                   formControlName="newPassword2"><br>

        </form>


        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('0')">Discart</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('1')">Change Password</button>
        </div>
    </div>
</ng-template>