<div class="container-fluid h-100">

    <div class="custom-control custom-switch custom-switch-md">
        <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="showCalendar"
            (change)="checkShowCalendar(showCalendar?true:false)" disabled="true">
        <label class="custom-control-label" for="customSwitches">Calendar</label>
    </div>

    <div class="row my-5">
        <h4>Medical Tecnical Sheets</h4>
    </div>


    <div class="row" *ngIf="showCalendar; else tableData">
        <div class="col-10 shadow p-0 rounded bg-white">
            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>

    <ng-template #tableData class="row">
        <div class="col-12 shadow p-0 rounded bg-white">
            <button class="btn btn-primary">add mts</button> <br />

            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Age</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let mts of medicalSheets let i = index' scope="row" class="text-center">
                        <td>{{i+1}}</td>
                        <td>{{mts.date}}</td>
                        <td>{{mts.patientFullName}}</td>
                        <td>{{mts.patientPhone}}</td>
                        <td>{{mts.patientAge}}</td>
                        <td *ngIf='roleUser ===1 || roleUser===2'><button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <div class="text-center" *ngIf="!patients">
                    <p style="color: blue;">
                        There aren't registered patients
                    </p>
                </div>
            </table>
        </div>
    </ng-template>

    <div class="col-12 shadow mt-5 rounded bg-white">
        <button class="btn btn-primary">add mts</button> <br />

        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Age</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let mts of medicalSheets let i = index' scope="row" class="text-center">
                    <td>{{i+1}}</td>
                    <td>{{mts.date}}</td>
                    <td>{{mts.patientFullName}}</td>
                    <td>{{mts.patientPhone}}</td>
                    <td>{{mts.patientAge}}</td>
                    <td *ngIf='roleUser ===1 || roleUser===2'><button class="btn btn-danger"
                            (click)="deleteMtsTable(mts.id, i)">Delete</button>
                    </td>
                </tr>
            </tbody>
            <div class="text-center" *ngIf="!patients">
                <p style="color: blue;">
                    There aren't registered patients
                </p>
            </div>
        </table>
    </div>

</div>

<ng-template #modalCreateEdit let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{textCreateUpdateModal}} Medical Tecnical Sheet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('0')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body text-center m-1" *ngIf="isUpdateMts">
            <img [src]="mtsModalInfo.patientPhoto" class="imgPreview" [alt]="mtsModalInfo.patientFullName">
        </div>

        <div class="modal-body text-center m-1" *ngIf="isUpdateMts">
            Reason Treatment: {{mtsModalInfo.reason}} 
        </div>

        <form [formGroup]="formMts" (ngSubmit)="submitFormCreate()">

            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="date" class="col-2">Date:</label>
                <input type="date" class="form-control rounded-sm border-0 shadow-sm px-4" id="date"
                    name="date" formControlName='date' />
            </div>

            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="time" class="col-2">Time:</label>
                <input type="time" class="form-control rounded-sm border-0 shadow-sm px-4" id="time" name="time"
                    formControlName='time' />
            </div>

            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label class="col-2">Patient: </label>
                <select class="form-control" formControlName='patientId'>
                    <option *ngFor="let patient of patients" [value]="patient.id">
                        {{patient.name + ' ' + patient.surname}}
                    </option>
                </select>
            </div>

            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center"
                *ngIf="roleUser ===1 || roleUser ===2">
                <label for="clinicIdCreate" class="col-2">Specialist: </label>
                <select class="form-control" formControlName='specialistId'>
                    <option *ngFor="let s of specialists" [value]="s.id">
                        {{s.name}}
                    </option>
                </select>
            </div>

            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="clinicIdCreate" class="col-2">Treatment: </label>
                <select class="form-control" formControlName='treatmentId'>
                    <option *ngFor="let t of treatments" [value]="t.id">
                        Date: {{t.startDate}} Patient: {{t.patientFullName}} Specialist: {{t.specialistFullName}}
                    </option>
                </select>
            </div>

        </form>

        <div class="modal-footer" *ngIf="isUpdateMts">
            <button type="button" class="btn btn-warning" (click)="deleteMts()">Delete</button>
        </div>

        <div class="modal-footer" *ngIf="showButtonsForm">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="modal.close('1')">Save</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('0')">Cancel</button>
        </div>


    </div>

</ng-template>


<ng-template #modalInfo let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Detail Medical Tecnical Sheet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('0')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center m-1">

        <img [src]="mtsModalInfo.patientPhoto" class="imgPreview">
    </div>
    <div class="modal-body text-center m-1">
        <h4>Date</h4>{{mtsModalInfo.date}}
    </div>
    <div class="modal-body text-center m-1">
        <h4>Patient</h4>{{mtsModalInfo.patientFullName}}
    </div>
    <div class="modal-body text-center m-1">
        <h4>Patient Age</h4>{{mtsModalInfo.patientAge}}
    </div>
    <div class="modal-body text-center m-1">
        <h4>Reason Tratment</h4>{{mtsModalInfo.reason}}
    </div>
    <div class="modal-body text-center m-1">
        <h4>Specialist</h4>{{mtsModalInfo.specialistFullName}}
    </div>
    <div class="modal-body text-center m-1">
        <h4>Specialist Type</h4>{{mtsModalInfo.specialistType}}
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('0')">Close</button>
    </div>

</ng-template>

<ng-template #modalDelete let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Medical Sheet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            You are going to delete a Medical Sheet, are you sure?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('0')">No</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('1')">Yes</button>
        </div>
    </div>
</ng-template>