<div class="container-fluid h-100">

    <div class="custom-control custom-switch custom-switch-md">
        <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="showCalendar"
            (change)="checkShowCalendar(showCalendar?true:false)" disabled="true">
        <label class="custom-control-label" for="customSwitches">Calendar</label>
    </div>


    <div class="row" *ngIf="showCalendar; else tableData">
        <div class="col-10 shadow p-0 rounded bg-white">
            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>
    </div>

    <ng-template #tableData class="row">
        <div class="col-12 shadow p-0 rounded bg-white">
            <button class="btn btn-primary">add mts</button> <br />

            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Age</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let mts of medicalSheets let i = index' scope="row" class="text-center">
                        <td>{{i+1}}</td>
                        <td>{{mts.date}}</td>
                        <td>{{mts.patientFullName}}</td>
                        <td>{{mts.patientPhone}}</td>
                        <td>{{mts.patientAge}}</td>
                        <td *ngIf='roleUser ===1 || roleUser===2'><button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <div class="text-center" *ngIf="!patients">
                    <p style="color: blue;">
                        There aren't registered patients
                    </p>
                </div>
            </table>
        </div>
    </ng-template>

    <div class="col-12 shadow mt-5 rounded bg-white">
        <button class="btn btn-primary">add mts</button> <br />

        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Age</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let mts of medicalSheets let i = index' scope="row" class="text-center">
                    <td>{{i+1}}</td>
                    <td>{{mts.date}}</td>
                    <td>{{mts.patientFullName}}</td>
                    <td>{{mts.patientPhone}}</td>
                    <td>{{mts.patientAge}}</td>
                    <td *ngIf='roleUser ===1 || roleUser===2'><button class="btn btn-danger"
                        (click)="deleteMtsTable(mts.id, i)">Delete</button>
                    </td>
                </tr>
            </tbody>
            <div class="text-center" *ngIf="!patients">
                <p style="color: blue;">
                    There aren't registered patients
                </p>
            </div>
        </table>
    </div>

</div>

<ng-template #modalCreateEdit let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{textCreateUpdateModal}} Medicat Tecnical Sheet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('0')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        
        <form [formGroup]="formMts" (ngSubmit)="submitFormCreate()">


            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="dateOfBirthCreate" class="col-2">Date:</label>
                <input type="date" class="form-control rounded-sm border-0 shadow-sm px-4" id="dateOfBirthCreate"
                    name="dateOfBirthCreate" formControlName='date' />
            </div>

            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="date" class="col-2">Time:</label>
                <input type="time" class="form-control rounded-sm border-0 shadow-sm px-4" id="date"
                    name="time" formControlName='time' />
            </div>

            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label class="col-2">Patient: </label>
                <select class="form-control" formControlName='patientId'>
                    <option *ngFor="let patient of patients" [value]="patient.id">
                        {{patient.name + ' ' + patient.surname}}
                    </option>
                </select>
            </div>

            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center"
                *ngIf="roleUser ===1 || roleUser ===2">
                <label for="clinicIdCreate" class="col-2">Specialist: </label>
                <select class="form-control" formControlName='specialistId'>
                    <option *ngFor="let s of specialists" [value]="s.id">
                        {{s.name}}
                    </option>
                </select>
            </div>

            <div class="modal-body"
                style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="clinicIdCreate" class="col-2">Treatment: </label>
                <select class="form-control" formControlName='treatmentId'>
                    <option *ngFor="let t of treatments" [value]="t.id">
                        {{(t.id) + t.patientFullName}}
                    </option>
                </select>
            </div>

        </form>

        <div class="modal-footer" *ngIf="isUpdateMts">
            <button type="button" class="btn btn-warning"(click)="deleteMts()">Delete</button>
        </div>

        <div class="modal-footer" *ngIf="showButtonsForm">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="modal.close('1')">Save</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('0')">Cancel</button>
        </div>


    </div>

</ng-template>